.CodeButton {
    background-color: #F6B251;
}

.DemoButton {
    background-color: #E24727;
}

.CodeButton,
.DemoButton {
    text-decoration: none;
    color: #F5F1EC;
    border: 0;
    border-radius: 15px;
    padding: 5px 35px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 40%;
}

.CodeButton:hover {
    background-color: #ffba63;
    color: #F5F1EC;
}

.DemoButton:hover {
    background-color: #f64827;
    color: #F5F1EC;
}

@media (max-width: 750px) {
    .CodeButton, .DemoButton {
        margin: 0 5px 10px 5px;
        width: 100%;
    }
}