.Card {
    background-color: #ebe7e2;
    border-radius: 32px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    font-family: Gilroy, sans-serif;
    color: #422626;
}

.Content {
    background-color: #F5F1EC;
    border-radius: 32px;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);

}

.ProjectImage {
    height: auto;
    width: 200px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    display: flex;
    align-items: center;
    background-color: #ebe7e2;
}

.ProjectImage img {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.TextArea {
    padding: 0 30px;
    font-family: Georgia, serif;
}

.CardTitle {
    font-size: 2rem;
    font-family: Gilroy, sans-serif;
}

.CardForMobile {
    margin-top: 20px;
}

.TechButton {
    margin: 10px;
    display: flex;
    flex-flow: wrap;
}

.Card:hover {
    transition: box-shadow .5s;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.13);
}

.ButtonArea {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.SmallImage {
    display: none;
}


@media (max-width: 550px) {
    .Card {
        width: 100vw;
    }

    .Content {
        display: flex;
        width: 100vw;

    }

    .TextArea {
        padding: 20px 20px;
    }

    .CardForMobile {
        width: auto;
        height: 80px;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .CardTitle  {
        font-size: 1.75rem;
        margin-left: 10px
    }

    .SmallImage {
        display: inline-flex;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 1px solid #F6B251;
        overflow: hidden;
    }

    .SmallImage img {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .ProjectImage {
        display: none;
    }


    .ButtonArea {
        margin-bottom: 0;
        margin-top: 20px;
    }

}